@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #d8dfe8;
  box-sizing: border-box;
}

.logo__alura {
  margin: 20px;
  padding: 1.25rem;
}

.texto__usuario {
  position: absolute;
  width: 40%;
  height: 60%;
  color: #0a3871;
  left: 12%;
  top: 15%;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 150%;
  background: #d8dfe8;
}

::placeholder {
  color: #0a3871;
}
.texto__usuario {
  outline: none;
}

.texto__usuario__restricciones {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-size: 11px;
  position: absolute;
  color: black;
  left: 12%;
  top: 78%;
  gap: 5px;
  width: 80%;
}

.texto__usuario__restricciones__p {
  opacity: 0.8;
  flex: none;
  line-height: 150%;
}

.texto__usuario__icono {
  max-width: 8%;
  height: auto;
}

.botonera {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1% 0;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 80%;
  gap: 24px;
}

.btn__encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 25%;
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #d8dfe8;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.btn__desencriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 25%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  text-align: center;
}

.texto__encriptado__copiar {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  top: 80%;
  gap: 24px;
  left: 74%;
  transform: translateX(-50%);
  width: 80%;
}

.btn__copiar {
  justify-content: center;
  padding: 2%;
  width: 25%;
  gap: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
}

.btn__encriptar:hover,
.btn__copiar:hover,
.btn__desencriptar:hover {
  margin: 0.3%;
  padding: 1.8%;
  width: 24.5%;
}

.texto__encriptado {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #0a3871;
  position: absolute;
  justify-content: center;
  width: 25%;
  padding: 20px;
  height: 90%;
  left: 60%;
  top: 5%;
  background: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  word-wrap: break-word;
}

.texto__encriptado__placeholder {
  text-align: center;
  font-family: "Inter", sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  gap: 16%;
  position: absolute;
  width: 100%;
  top: 65%;
}

.texto__encriptado__placeholder__h2 {
  width: 70%;
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  color: black;
}

.texto__encriptado__placeholder__p {
  width: 70%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: gray;
}

.texto__encriptado__muñeco {
  position: absolute;
  width: 75%;
  height: 45%;
  top: 15%;
}

.footer {
  background-color: #0a3871;
  padding: 3px;
  color: #d8dfe8;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Vista tablet 700px*/
@media (max-width: 700px) {
  body {
    width: auto;
  }

  .texto__usuario {
    width: 80%;
    height: 50%;
    left: 5%;
    top: 13%;
  }
  .texto__usuario__restricciones {
    width: 80%;
    left: 5%;
    top: 67%;
  }
  .texto__usuario__restricciones__p {
    font-size: 16px;
  }
  .botonera {
    width: 80%;
    left: 5%;
    top: 70%;
  }
  .btn__encriptar,
  .btn__desencriptar {
    width: 48%;
  }

  .texto__encriptado {
    width: 75%;
    height: 23%;
    left: 5%;
    top: 78%;
  }

  .texto__encriptado__copiar {
    left: 45%;
    top: 95%;
  }

  .btn__copiar {
    width: 80%;
  }

  .texto__encriptado__placeholder {
    width: auto;
    top: 2%;
    left: 15%;
  }

  .texto__encriptado__muñeco {
    top: 0;
    display: none;
    visibility: hidden;
  }
}

/* Vista celular 400px*/
@media (max-width: 400px) {
  body {
    width: auto;
  }

  .texto__usuario {
    width: 80%;
    height: 50%;
    left: 10%;
    top: 13%;
  }

  .texto__usuario__restricciones {
    width: 80%;
    left: 10%;
    top: 67%;
  }

  .texto__usuario__restricciones__p {
    font-size: 12px;
  }

  .botonera {
    gap: 10px;
    left: 10%;
    top: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn__encriptar,
  .btn__desencriptar {
    width: 112%;
  }

  .texto__encriptado {
    width: 90%;
    height: 23%;
    left: 10%;
    top: 84%;
    padding: 2%;
  }

  .texto__encriptado__copiar {
    left: 58%;
    top: 102%;
  }

  .btn__copiar {
    width: 90%;
  }
}
